@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body {
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

    /*  HEADER  */

.header_container {
  margin: auto;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  display: flex;
  background: #1F2123;
  max-width: 1920px;
  height: 50px;
  padding: 0 60px;
}

.header_container img {
  width: 240px;
  height: 50px;
  cursor: pointer;
}

.header_container .header_navigator ul {
  
  display: flex;
  list-style: none;
}

.header_container .header_navigator ul li {
  line-height: 50px;
  text-transform: uppercase; 
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: PT Sans; 
}

.header_container .header_navigator ul li:hover {
  color: #D14841;
  background: rgba(0, 0, 0, 0.3);
}

.header_container .header_navigator ul .nav__active li {
  color: #D14841;
}

    /*  CONTENT  */

.content_container {
  color: #fff;
  position: relative;
  background: #131415; 
  height: calc(100vh - 50px);
}

    /*  FOOTER  */

.footer_container {
  display: flex;
  background: #1F2123;
  height: 88px;
}

.footer_container i {
  width: 30px;
  background-color: #fff;
}

.footer_logo {
  user-select: none;
  pointer-events: none;
}

.footer_logo img {
  width: 65px;
}

  /*  ICONS DIV */

.icons_div {
  display: flex;
}

.icons_div li {
  width: 32px;
  height: 32px;
  color: #8d8d8d;
  cursor: pointer;
}

.icons_div li:hover {
  background: #000;
}
.icons_div li svg {
}